/* 自定义样式 */
.markdown-section {
  max-width: 900px;
}

.markdown-section pre>code[class] {
  padding: 16px 0;
}
.markdown-section pre {
  padding: 0 16px;
}
.markdown-section code {
  font-size: 100%;
}
.markdown-section p {
  margin: 16px 0;
}

.markdown-section h3 a,
.markdown-section h4 a{
  font-weight: normal;
}
.markdown-section h1, .markdown-section h2 {
  /* margin: 30px 0 16px; */
  line-height: 1.25;
  font-size: 24px;
}
.markdown-section h2 {
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}
.markdown-section h3 {
  margin-top: 30px;
  font-size: 1.2rem;
}
.markdown-section h4 {
  margin-top: 30px;
  font-size: 1.2rem;
}
.markdown-section h5 {
  margin-top: 30px;
  font-size: 1rem;
}
.markdown-section blockquote {
  margin: 24px 0;
  padding: 6px 0 6px 20px;
  background-color: #f8f8f8;
}
.markdown-section blockquote p {
  margin: 0;
  font-weight: normal;
}

/* 修改侧边栏样式 */
.sidebar ul li a {
  border-right: 2px solid transparent;
}
.sidebar ul li a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #42b983;
  background-clip: padding-box;
  transition: .3s;
}
.sidebar ul li.active>a {
  border-right: 2px solid transparent;
  color: #fff;
  background-color: #42b983;
  background-clip: padding-box;
  transition: .3s;
}
.app-sub-sidebar li:before {
  content: "";
}
.sidebar li {
  margin-left: 5px;
}
.sidebar li a,
.sidebar li>strong{
  padding-left: 10px;
}

.sidebar>.sidebar-nav>ul>li ul>li {
  margin-left: 0px;
  padding-left: 0px;
}
.sidebar>.sidebar-nav>ul>li ul>li a {
  padding-left: 20px;
}
.sidebar>.sidebar-nav>ul>li ul>li ul>li a {
  padding-left: 30px;
}

blockquote ol,
blockquote ul {
  margin: 0;
}


/* 滚动条样式 */
code::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb{
  background: #eee;
  border-radius: 5px;
}
code::-webkit-scrollbar-thumb:hover,
pre::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
  background: #42b983;
}

code::-webkit-scrollbar,
pre::-webkit-scrollbar,
html::-webkit-scrollbar {
  /* 设置滚动条宽高和背景色 */
  /* background-color: #eee; */
  height: 5px;
  width: 5px;
}

/* 设置滚动条首尾 */
/* code::-webkit-scrollbar-button:start {
  background: #3DB6A4;
  background-size: 12px 12px;
}

code::-webkit-scrollbar-button:end {
  background:#3DB6A4;
  background-size: 12px 12px;
} */
