a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #e92322;
  text-decoration: none;
}
i {
  font-style: normal;
}


.wjs_header {
  border-bottom: 1px solid #ccc;
}
.wjs_header .item {
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #ccc;
  text-align: center;
}
.wjs_header .item:last-child {
  border-right: none;
}
.wjs_header .mobile {
  position: relative;
}
.wjs_header .mobile img {
  border: 1px solid #ccc;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.wjs_header .mobile a:hover img{
  display: block;
  z-index: 99;
}
.wjs_header .btn {
  padding: 3px 12px;
}
.wjs_header .btn:hover {

  text-decoration: none;
}
.wjs_header .btn-link {
  color: #333;
}
.wjs_header .btn-link:hover {
  color: #e92322;
}


.wjs_nav {
  height: 80px;
  z-index: 998;
  position: relative;
}
.navbar {
  margin: 0;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
}
.navbar .nav a {
  line-height: 50px;
}
.navbar a.navbar-brand {
  height: 80px;
  line-height: 50px;
}
.navbar .wjs_icon_logo {
  color: #e92322;
  font-size: 50px;
  vertical-align: middle;
}
.navbar .wjs_icon_word {
  color: #000;
  font-size: 35px;
  vertical-align: middle;
}
.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
  background-color: #fff;
  border-bottom: 3px solid #e92322;
}
.navbar .navbar-nav>li>a {
  border-bottom: 3px solid transparent;
}
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus {
  border-bottom: 3px solid #e92322;
}
.navbar .navbar-toggle {
  margin-top: 23px;
  margin-bottom: 23px;
}

@media (min-width: 600px) {
  .banner .carousel-inner>.item {
    height: 410px;
    overflow: hidden;
  }
  .banner .carousel-inner > .item > img {
    height: 410px;
    width: 2000px;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.wjs_info {
  border-bottom: 1px solid #ccc;
  padding: 50px 0;
}
.wjs_info i {
  font-size: 35px;
}

.wjs_book {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
.wjs_book i {
  font-size: 20px;
}
.wjs_book .pull-left a {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}


.product {
  padding: 30px 0;
  background-color: #f5f5f5;
  overflow: hidden;
}
.product .product_item {
  height: 150px;
  margin-top: 20px;
  background-color: pink;
  overflow: hidden;
}
.product .nav-tabs>li.active>a,
.product .nav-tabs>li.active>a:focus,
.product .nav-tabs>li.active>a:hover {
  border: none;
  border-bottom: 3px solid #e92322;
  background-color: #f5f5f5;
}
.product .nav-tabs>li>a,
.product .nav-tabs>li>a:focus,
.product .nav-tabs>li>a:hover {
  background-color: #f5f5f5;
  border: none;
}
.product .product_item .right {
  width: 80px;
  height: 150px;
  float: right;
  position: relative;
  border-left: 1px dashed blue;
  padding-top: 30px;
  font-size: 18px;
  text-align: center;
}
.product .product_item .right strong {
  font-size: 30px;
}
.product .product_item .right:before,
.product .product_item .right:after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  left: -10px;
}
.product .product_item .right:before {
  top: -10px;
}
.product .product_item .right:after {
  bottom: -10px;
}
.product .product_item .left {
  overflow: hidden;
  height: 150px;
  text-align: center;
  position: relative;
}
.product .product_item .left p {
  margin-bottom: 3px;
}
.product .product_item .left div:nth-of-type(1) {
  text-align: left;
}
.product .product_item .left div:nth-of-type(2) {
  text-align: right;
}
.product .product_item .left i {
  font-size: 40px;
  position: absolute;
  top: -8px;
  left: 0;
}
.product .product_item.active {
  background-color: #e92322;
  color: #fff;
}

.new {
  padding: 30px 0;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.new h3 {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
  text-align: center;
  position: relative;
}
.new h3::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  bottom: -5px;
  right: -10px;
}
.new .nav-tabs {
  border: none;
}
.new .line {
  position: absolute;
  height: 100%;
  width: 1px;
  border-left: 1px dashed blue;
  left: 45px;
}
.new .nav-tabs>li>a {
  width: 60px;
  height: 60px;
  background-color: #ccc;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  border: none;
  color: #fff;
  margin: 0;
  margin-bottom: 60px;
}
.new .nav-tabs>li:last-child>a {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .new .nav-tabs>li>a {
    margin: 0 auto;
  }
  .new .nav-tabs>li {
    /* text-align: center; */
    padding: 30px 0;
    width: 25%;
  }
}
.new .nav-tabs>li.active>a:focus, .new .nav-tabs>li.active>a:hover,
.new .nav-tabs>li.active>a {
  border: none;
  background-color: #e92322;
  color: #fff;
}
.new .tab-content li {
  list-style: none;
  line-height: 40px;
}

.footer {
  padding: 30px 0;
}
.footer h3 {
  text-align: center;
}
.footer li {
  list-style: none;
  font-size: 50px;
  display: inline-block;
  margin: 0 30px;
}
.footer ul {
  text-align: center;
}