div{
  line-height: 30px;
  padding: 20px;
}
.top{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #ccc;
  text-decoration: none;
}
.cnt{
    margin: 50px 0;
  line-height: 40px;
}

iframe{
  margin:50px; border:1px solid #ccc;
}