<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-for="item in list">
      <input type="checkbox" v-model="item.isCheck">{{ item.name }}
    </div>
    <input type="checkbox" v-model="allCheck">全选
  </div>
  <script src="./vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        list: [
          {
            id: 1,
            name: 'zs',
            isCheck: true
          },
          {
            id: 2,
            name: 'ls',
            isCheck: false
          },
          {
            id: 3,
            name: 'ww',
            isCheck: false
          }
        ]
      },
      computed: {
        allCheck: {
          get () {
            return this.list.every(item => item.isCheck)
          },
          set (newVal) {
            console.log(newVal)
            this.list.forEach(item => item.isCheck = newVal)
          }
        }
      }
    })
  </script>
</body>
</html>