<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 两种情况 -->
    <p v-if="age >= 18">成年</p>
    <p v-else>未成年</p>

    <!-- 多种情况 -->
    <p v-if="num >= 90">优秀</p>
    <p v-else-if="90 > num && num >= 80">良好</p>
    <p v-else>一般</p>
  </div>
  <script src="./vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        num: 90,
        age: 18
      }
    })
  </script>
</body>
</html>