.container {
  max-width: 640px;
  min-width: 320px;
  height: 1000px;
  margin: 0 auto;
  background-color: pink;
  position: relative;
}
.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.mask .content {
  width: 300px;
  height: 150px;
  background-color: #fff;
  padding: 10px;
  margin: 200px auto;
  border-radius: 5px;
}
.mask .content .tip {
  width: 280px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
}
.mask .content .cancel,
.mask .content .confirm {
  width: 120px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
}
.mask .content .confirm {
  background-color: #e92322;
  border: 1px solid #e92322;
}
.mask .content .cancel {
  background-color: #fff;
  border: 1px solid #ccc;
}
.header {
  height: 44px;
  background-image: linear-gradient(#fff, #ccc);
}
.header .back,
.header .menu {
  width: 44px;
  height: 44px;
  padding: 12px;
  background-origin: content-box;
  background-clip: content-box;
}
.header .back {
  float: left;
  background-position: -20px 0;
}
.header .menu {
  float: right;
  background-position: -60px 0;
}
.header .title {
  overflow: hidden;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  height: 44px;
}
.tips {
  height: 34px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.tips span {
  display: inline-block;
  line-height: 34px;
  position: relative;
  padding-left: 20px;
}
.tips span::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 8px;
  background: url("../images/safe_icon.png");
  background-size: 18px;
}
.goods {
  margin-top: 10px;
}
.goods .title {
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-left: 30px;
  padding-right: 10px;
}
.goods .title .good_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  background-position: -180px -90px;
  left: 5px;
  top: 5px;
}
.goods .title .good_icon.checked {
  background-position: -180px -70px;
}
.goods .title .jd {
  padding-left: 17px;
  position: relative;
}
.goods .title .jd::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: url("../images/jd-sprites.png") 0 0px no-repeat;
  background-size: 150px 150px;
  top: 9px;
  left: 0;
}
.goods .title .tip {
  padding-right: 10px;
  color: #e92322;
}
.goods .item {
  height: 100px;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding-left: 30px;
  padding-right: 10px;
}
.goods .item .good_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  background-position: -180px -90px;
  left: 5px;
  top: 5px;
}
.goods .item .good_icon.checked {
  background-position: -180px -70px;
}
.goods .item .good_img {
  width: 80px;
  height: 100px;
  padding: 10px 0;
}
.goods .item .good_info {
  padding-left: 90px;
  line-height: 20px;
}
.goods .item .good_info .button {
  height: 40px;
  margin-top: 15px;
}
.goods .item .good_info .button .number {
  width: 92px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.goods .item .good_info .button .number span,
.goods .item .good_info .button .number input {
  display: block;
  float: left;
  padding: 5px;
  margin: 0;
  line-height: 20px;
  text-align: center;
}
.goods .item .good_info .button .number span {
  width: 20px;
  background-color: #fff;
}
.goods .item .good_info .button .number input {
  width: 30px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.goods .item .good_info .button .delete {
  width: 30px;
  height: 40px;
  padding: 10px 6px;
}
.goods .item .good_info .button .delete img:nth-child(1) {
  width: 18px;
}
.goods .item .good_info .button .delete img:nth-child(2) {
  width: 17px;
}
